.menu {
    height: 100vh;
    background-color: rgb(41, 41, 41);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 99;
  }
  
  .menu .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu .body .nav {
    display: flex;
    flex-direction: column;
    font-size: 56px;
    gap: 12px;
    margin-top: 40px;
    align-items: center;
  }
  
  .menu .body .nav .header {
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 40px;
  }
  
  .menu .body .nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
  }
  
  .menu .footer {
    margin-top: 3vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
  }

  .menu .footer a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .menu .footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Jarak garis dari teks */
    width: 100%;
    height: 3px; /* Ketebalan garis */
    background-color: rgb(26, 19, 220); /* Warna garis */
    transform: scaleX(0); /* Awal: tersembunyi */
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu .footer a:hover {
    color: rgb(26, 19, 220); /* Warna teks tetap putih */
  }
  
  .menu .footer a:hover::after {
    transform: scaleX(1); /* Garis muncul saat hover */
    transform-origin: bottom left;
  }
  

/* Ketika tinggi layar di bawah 900px */
@media screen and (min-height: 900px) {


  .menu .body .nav {
    font-size: 36px; /* Mengecilkan ukuran font */
    gap: 8px; /* Mengurangi jarak antar item menu */
    margin-top: 20px; /* Mengurangi margin atas */
  }

  .menu .body .nav .header {
    font-size: 10px; /* Mengecilkan ukuran header */
    margin-bottom: 20px; /* Kurangi jarak bawah */
  }

  .menu .footer {
    font-size: 10px; /* Mengecilkan ukuran font footer */
    gap: 30px; /* Mengurangi jarak antar item footer */
    margin-top: 10px; /* Kurangi jarak ke atas */
  }
}

/* Ketika tinggi layar di bawah 700px */
@media screen and (max-height: 640px) {


  .menu .body .nav {
    font-size: 45px; /* Font lebih kecil */
    gap: 15px;
    margin-top: 40px;
  }

  .menu .footer {
    font-size: 8px; /* Footer lebih kecil */
    gap: 30px;
  }
}


@media screen and (max-width: 768px) {
  .menu .body {
    padding: 20px 10px; /* Padding lebih kecil agar muat */
    justify-content: flex-start; /* Mendorong konten ke atas */
  }
}  